<div class="nested-fields">
    <div class="field">
        <%= f.text_field :material, class: "form-control material-form", placeholder: "じゃがいも" %>
        <%= f.text_field :quantity, class: "form-control quantity-form", placeholder: "2個" %>
    </div>
    <div class="field">
        <%= link_to_remove_association "削除", f %>
    </div>
</div>