<h2 class="like-recipes col-md-12"><%= @user.name %>さんのお気に入りレシピ</h2>
<% @like_recipes.each do |recipe| %>
    <div class="like-recipe-image col-md-4">
        <div class="like-recipe-thumb-frame">
            <%= link_to recipe.title, recipe, class: "like-recipe-title" %>
            <%= image_tag(recipe.image, { class: "like-recipe-thumb"}) %>
        </div>
    </div>
<% end %>