@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color: #fafafa;
    color: #3a424e;
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0px;
    left: 0px;
    background-color: #fff;
    border-bottom: 1px solid #EDEEEE;
    z-index: 100;
}

a {
    color: #3a424e;
    text-decoration: none;
}

a:hover {
    color: #3a424e;
    text-decoration: none;
}

.header-title {
    font-size: 1.75em;
    padding: 20px 70px;
    font-weight: bold;
    float: left;
}

.header-right {
    float: right;
    padding: 20px 70px;
}
.login-link {
    padding: 11px;
}

.sb-site {
    padding-top: 55px;
}

.main {
    padding: 40px 0;
}
.nav > li > a {
    font-size: 18px;
    padding: 7px 25px;
}
.dropdown-menu > li > a {
    line-height: 2.5;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#recipe_image {
    margin-bottom: 20px;
}
#recipe_title {
    width: 30%;
    margin-bottom: 20px;
}

#recipe_description {
    width: 35%;
    height: 70px;
    margin-bottom: 20px;
}

.material-form {
    width: 15%;
    float: left;
    margin-right: 10px;
}

.quantity-form {
    width: 15%;
}

.step-form {
    width: 30%;
    height: 70px;
}

.point-form {
    width: 40%;
}

.recipe-top {
    text-align: center;
}
.recipe-image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.recipe-top-bottom {
    padding-top: 20px;
}

.recipe-title {
    font-size: 35px;
}

.recipe-description {
    font-size: 20px;
    padding-top: 20px;
}

.recipe-element {
    font-size: 18px;
}

.recipe-subtitle {
    font-size: 20px;
    border-bottom: 1px solid #DCE0E0;
    margin-bottom: 3px;
    padding-top: 50px;
}
.recipe-material-id {
    padding-bottom: 3px;
}

.quantity {
    float: right;
}

.recipe-point > li {
    padding-bottom: 3px;
}

.recipe-step-id {
    padding-bottom: 30px;
}

.new-user-title, .session-user-title {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 60px;
}

.new_user, .session-user {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#user_name, #user_email, #user_password, #user_image, #session_email, #session_password {
    margin-bottom: 25px;
}

.new-user-btn, .session-user-btn {
    width: 100%;
    margin-bottom: 10px;
}

.edit_user {
    width: 40%;
}

.edit-user-btn {
    margin-top: 20px;
    width: 25%;
}

.user-image {
    width: 152px;
    height: 152px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.user-profile {
    padding-top: 40px;
}

.profile-left {
    padding-right: 0;
    margin-left: 50px;
}

.profile-name {
    font-size: 30px;
    padding-right: 15px;
}

.edit-profile-btn {
    margin-bottom: 15px;
}

.profile-introduction {
    font-size: 16px;
}

.user-recipes {
    padding-top: 70px;
}

.user-recipe-image {
    margin-bottom: 30px;
}

.recipe-thumb-frame {
    background-color: #3F3F3F;
}

.users-recipe-title {
    width: 92.3%;
    height: 100%;
    position: absolute;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 150px 50px;
    display: none;
}

.users-recipe-title:hover {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}

.recipe-thumb {
    width: 350px;
    height: 300px;
}

.signup-link {
    color: #337ab7;
}