<footer class="footer">
    <div class="container footer-frame">
        <div class="footer-title">
            <%= link_to "Kitchen", root_path %>
        </div>
        <div class="developer-data">
            <div class="developer-name">
                developer：somakihiro
            </div>
            <div class="developer-twitter">
                <a href="https://twitter.com/somakihiro">Twitter</a>
            </div>
            <div class="developer-facebook">
                <a href="https://www.facebook.com/akihiro.soma.54">Facebook</a>
            </div>
        </div>
    </div>
</fotter>